@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;


a{
  text-decoration: none;
}

ul{
  list-style: none;
}

html{
  width: 100vw;
  overflow-x:hidden
}

body{
  background: var(--color-darkest);
}

button{
  border: none;
  cursor: pointer;
}

scroll-behavior: smooth;
}

.main{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 4rem;
  @media screen and (max-width: 778px){
    padding: 1rem 2rem;
  }
  @media screen and (max-width: 550px){
    padding: 1rem 1.2rem;
  }
  @media screen and (min-width: 1500px){
    margin: auto;
    width: 1500px;
  }
}

.page{
  background:var(--color-darkest);
  min-height: 100vh;
}

//Colors 
.false{
  --color-dark: #060606;
  --color-darker: rgba(0, 0, 0, 0.95);
  --color-darkest: black;
  --color-white: white;
  --color-gray-100: #acacac;
  --color-gray-200: #1e1e1e;
  --color-gray-300: #0f0f11;
  --color-svg-dark: var(--color-white);
  --color-svg-light: white;
  --color-nav: var(--color-white);
  --color-border-dark: rgb(54, 54, 54);
  --shadow-primary: 0 0 20px 5px rgba(251, 83m 67, 0.2);
  --color-primary: #059dff;
  --color-primary-dark: #011827;
  --color-pink-dark: #2f011d;
  --color-pink: #e33fa1;
  --color-tertiary: #6549d5;
  --color-tertiary-dark: #150b40;
  --color-secondary: #fb4323;
  --color-secondary-dark: #190301;
  --color-gradient-1: linear-gradient(
    95deg,
    var(--color-primary) 15%,
    var(--color-tertiary) 45%,
    var(--color-pink) 75%,
    var(--color-secondary) 100%
  )
  95%/200% 100%;
}

.light{
  //navbar scrolled
  --color-darker: #f5f8fa;
  
  //background
  --color-darkest: white;

  //navbar
  --color-dark-light: #f5f8fa;
  --color-white: #181818;
  --color-gray-100: #acacac;
  --color-gray-200: #1e1e1e;
  --color-gray-300: #0f0f11;
  --color-selected: #e0e0e0;

  //navbar icon font
  --color-nav: rgb(31, 31, 31);

  //svg color
  --color-svg-dark: white;
  --color-svg-light: black;

  //buton hover
  --shadow-primary: 0 0 6px 3px rgba(140, 212, 212, 0.2);

  // services bgs

  --color-primary-dark: #f0f9ff;
  --color-tertiary-dark: #ece9fa;



}

